.top-section{
    display: flex;
    padding: 5%;
}

.half-width{
    width: 50%;
}

.header-text{
    padding: 5%;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.top-pic{
    width: 90%;
}

.banner-section{
    background-image: url(./images/shapes/7.png);
    display: flex;
    padding: 5%;
}

.mid-text{
    padding: 5%;
    color: gray;
}

